<div id="header">
    <div id="logo">
        <h1>Nikita_Savchenko<a href="/"></a></h1>
        <div class="slogan">framework</div>
    </div>
    <div id="menubar">
        <ul id="menu">
            <li class="current"><a href="/">Главная</a></li>
            <li><a href="/contacts/">Контакты</a></li>
            <li><a href="/meetup/list/">MeetUp list</a></li>
            <li ><a href="/category/">MeetUp type</a></li>
            <li ><a href="/user-list/">Пользователи</a></li>
        </ul>
    </div>
</div>