<div id="site_content">
    <div id="content">
        <p style="float: right;">Московское время: <b>{{data.moscow_time}}</b></p>
        <h2>Tables</h2>
        <p>Таблица элементов</p>
        <table style="width:100%; border-collapse: collapse;">
            <thead>
            <tr>
                <td>Наименование</td>
                <td>Описание</td>
                <td>Цена</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>GrowBox small</td>
                <td>Система роста для культивирования маленьких растений</td>
                <td>230000</td>
            </tr>
            <tr>
                <td>GrowBox</td>
                <td>Система роста для культивирования средних и больших растений</td>
                <td>400000</td>
            </tr>
            <tr>
                <td>Семеко Авокадо</td>
                <td>Семена прекрасного растения</td>
                <td>400</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>